body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.top{
    background-color: #2b2b2b; 
    color: white;              
    padding: 15px 30px;       
    font-size: 20px;
    font-weight: bold;
}

h1{
    font-size: 40px;
    position: absolute;
    top: 100px;
    left: 500px;
}

.box {
    width: 700px;
    margin: 150px auto;
    display: flex;
    gap: 35px;
}

.box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.box button {
    padding: 10px 20px;
    background-color: #1e93fa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.box button:hover {
    background-color: #3b6f9c;
}

.list {
    width: 700px;
    margin: 0px auto;
    padding: 0;
    list-style: none;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid #ddd;
    background: white;
}

.task-item span {
    flex: 1;
    margin-left: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: white;   /* белый фон */
    border: 1px solid #ccc;
    color: red;          /* красная корзинка */
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

